@import "./scss/functions";
@import "./scss/variables";

// Background Genres Dropdown menu
$dropdown-link-active-bg: rgb(140, 140, 140);
$dropdown-link-active-color: white;

// CHECKBOXS
$form-check-input-checked-bg-color: #141414;
$form-check-input-checked-border-color: $secondary;

nav {
  ul {
    li {
      a {
        cursor: pointer;
      }
    }
  }
}
// SLIDER FULL HEIGHT
.fh-carousel.carousel,
.fh-carousel.carousel-inner,
.fh-carousel.carousel-item {
  width: 100vw !important;
  height: 100vh !important;
}

.slide-1,
.slide-2,
.slide-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-1 {
  background-image: url(./img/fh-slider/django-unchained.jpg);
}
.slide-2 {
  background-image: url(./img/fh-slider/knives-out-sfondo.jpg);
}
.slide-3 {
  background-image: url(./img/fh-slider/frankenstein.jpg);
}
// END SLIDER

.dropdown-toggle::after {
  display: none !important;
}

// Carousle title
h4 {
  z-index: 100;
  position: relative;
}

// Hiding carousel scrollbar
.hiding-bar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.hiding-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
// smooth-scroll carousel
.smooth-carousel {
  scroll-behavior: smooth;
}

.smooth-carousel img {
  transition: all 500ms ease;
}
.smooth-carousel img:hover {
  transform: scale(0.95);
  z-index: 10;
  position: relative;
}

// Arrow carousel background
.arrow-left,
.arrow-right {
  z-index: 10;
}

.arrow-right {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.arrow-left {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

// Profile Page
.profile-body {
  background: #141414;
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 1) 92%,
    rgba(0, 0, 0, 1) 100%
  );
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
}

#checkbox-css {
  .form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    input {
      width: 40px;
      height: 40px;
    }
  }
}

@import "./scss/bootstrap.scss";
